<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cek Followers</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
                <div>copy by @yusufandrika</div>
                <h1>Cek Followers Instagram</h1>
                <p>Upload file JSON untuk mengecek akun yang tidak follow-back</p>
            </div>
            <div class="card-body">
                <form action="/check" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="followers_file">File Followers</label>
                        <input type="file" name="followers_file" id="followers_file" class="form-control-file" required>
                    </div>
                    <div class="form-group">
                        <label for="following_file">File Following</label>
                        <input type="file" name="following_file" id="following_file" class="form-control-file" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Cek Akun Tidak Follow-back</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
